body {
  background-color: #002b36;
}
h1{
  color: #586e75;
  font-size: 20px;
}
@font-face {
    font-family: 'Cyberway Riders';
    src: url('CyberwayRiders.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.table{
  margin: 200px 350px 50px 500px;
  width: 30%;
  border: 2px inset #586e75;
  padding: 30px;
  font-size: 25px;
  font-family: Cyberway Riders;
  }
p{
  color:#586e75;
}
a:link {
    color: #d33682;
    text-decoration: none;
    
}

a:visited {
    color:  #2aa198;
    text-decoration: none;
}

a:hover {
    color: #d33682;
    text-decoration: underline;
}

a:active {
    color: #d33682;
    text-decoration: underline;
}
img{
 max-width: 24px;
 max-height: 24px;
}
 